body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  cursor: default;
  background-color: #000;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

::before,
::after {
  position: absolute;
  content: "";
}

a {
  text-decoration: none;
}

main {
  background-color: #f9f9f9;
}

/* Typography */

.slider-nav-container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* .label {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
} */
.scroll-info {
  margin: 0;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
  color: #777;
}

.caption {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 10px;
}

.caption p {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  color: #696969;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

/* .open-in-new {
  padding: 0 10px;
} */

/* Modules */

button:disabled {
  opacity: 1;
}

.btn {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: block;
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

.btn-2::before {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-out;
}

.btn-2 span {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.btn-2 span:hover {
  color: rgb(0, 0, 0);
  transition: 0.2s 0.1s;
}

.btn-3::before {
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease-out;
}

.btn-3 span {
  border: 1px solid rgb(0, 0, 0);
}

.btn-3 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}

.btn.hover-slide-left::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
}

.btn.hover-slide-left:hover::before {
  width: 100%;
}

.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}

.btn.hover-slide-right:hover::before {
  width: 100%;
}

.btn.hover-slide-up::before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
}

.btn.hover-slide-up:hover::before {
  height: 100%;
}

.btn-secondary {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 0;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-secondary span {
  position: relative;
  display: block;
  font-family: "Figtree", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
}

.btn-secondary:disabled {
  color: #000;
  border-bottom: 2px solid #000;
}

.btn-tertiary {
  cursor: pointer;
  font-family: "Figtree", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
 }

.btn-tertiary:hover {
  border: 1px solid #fff;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
 }

.element.active {
  color: #000;
}


/* Sections */

.cover-container {
  background-image: url("https://www.fiware.org/style/imgs/Marketplace/FIWAREMarketplace_Visual.svg");
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 80% 55%;
  background-color: #000;
  min-height: 100vh;
}

.cover-container .section-content {
  margin: 0 auto;
  width: 90%;
  max-width: 2560px;
  padding: 10% 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-container .section-content h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cover-container .section-content h2 {
  padding-bottom: 50px;
  font-size: 3em;
  line-height: 1.2em;
  color: #fff;
  font-weight: 700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro-container {
  padding: 70px 0 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.intro-container .section-content,
.users-container .section-content,
.architecture-container .section-content {
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}

.intro-container .section-content h1,
.users-container .section-content h1,
.architecture-container .section-content h1 {
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro-objectives {
  padding: 30px 0 0;
}

.objectives {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0 0 30px;
}

.objective {
  font-size: 6em;
  line-height: 1.3em;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.excerpt {
  font-size: 1.4em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.users-container {
  padding: 120px 0 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.intro-users {
  padding: 50px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-type,
.user-type-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.user {
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.user-icons {
  width: 100%;
  max-width: 150px;
}

.architecture {
  width: 100%;
  padding-bottom: 0px;
}

.architecture-container {
  padding: 160px 0;
  /* min-height: 100vh; */
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.architecture-container .section-content h1 {
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  /* min-height: 100vh; */
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.divider {
  border-bottom: 1px solid #000;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.section-title {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 8em 0 0;
  position: relative;
  text-align: left;
}

.section-title h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title h2 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.features {
  /* margin: 100px auto 0;
  border-top: 1px solid #000; */
  padding: 120px 0 110px;
}

.features .section-title {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  padding: 0;
}

.content {
  max-width: 30%;
}

.features .section-title h1 {
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-feature-l {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 40px 0 0;
  /* border-bottom: 1px solid #ebebeb; */
}

.new-feature-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 80px 0 40px;
}

.new-feature-l h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
}

.new-feature-r h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
}

.new-feature-l p,
.new-feature-r p {
  line-height: 1.5em;
  margin: 0;
  text-align: left;
}

.new-feature-l img,
.new-feature-r img {
  max-width: 680px;
  width: auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  border-radius: 8px;
  /* -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; */
}

/* img.img-category,
img.img-submit {
  box-shadow: none;
} */

img.img-submit {
  max-width: 520px;
}

img#img-card {
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
}

.img-category,
.img-submit {
  padding: 0px !important;
}

#product-card {
  padding: 0 !important;
}

/* Navigation */

.spa-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 50px;
  z-index: 2;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.spa-header--scrolled {
  padding-top: 35px;
  border-top: 1px solid #fff;
  background: #000;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.spa-header--move-up {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.spa-header__logo {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.spa-header__link {
  margin-left: 1em;
  color: #fff;
}

.sticky-nav-tabs,
.spa-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.spa-slide {
  min-height: 100vh;
}

.sticky-nav-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  background: #000;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.sticky-nav-tabs-container--top-first {
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.sticky-nav-tabs-container--top-second {
  position: fixed;
  top: 0;
}

.sticky-nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1em;
  font-weight: 500;
  max-width: 180px;
}

.sticky-nav-tab:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sticky-nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #fff;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

/* Slider */

#slider-1-mw,
#slider-1-iw,
#slider-2-mw,
#slider-2-iw,
#slider-3-mw,
#slider-3-iw,
#slider-4-mw,
#slider-4-iw {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.tns-nav {
  display: none;
}

.slide {
  overflow: overlay;
  max-height: 430px;
  cursor: ns-resize;
}

.slide#no-overflow {
  overflow: hidden;
  max-height: 430px;
  cursor: default;
}

.slide-image {
  max-width: 768px;
  width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

  .intro-container .section-content,
  .users-container .section-content,
  .architecture-container .section-content {
    width: 90%;
  }

  .cover-container {
    background-size: 380%;
  }

  .cover-container .section-content {
    width: 100%;
    padding: 20% 0 0;
  }

  .cover-container .section-content h1 {
    font-size: 1.3em;
  }

  .cover-container .section-content h2 {
    font-size: 1.8em;
  }

  /* .intro-container .section-content {
    padding: 10% 0;
  } */

  .intro-container .section-content h1,
  .users-container .section-content h1 {
    font-size: 1.3em;
    padding-bottom: 0px;
  }

  .users-container {
    padding: 80px 0 0;
  }

  .objective {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0 0 5px;
  }

  .excerpt {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
  }

  .architecture-container {
    min-height: auto;
    padding: 100px 0;
  }

  .architecture-container .section-content h1 {
    font-size: 1.3em;
    padding-bottom: 30px;
  }

  .intro-users {
    padding: 40px 0 0;
    flex-direction: column;
    gap: 10px;
  }

  .user-type {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
  }

  .user-type-last {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    /* padding-bottom: 40px; */
  }

  .user-icons {
    width: auto;
    max-height: 100px;
  }

  .user {
    font-size: 1.6em;
    line-height: 1.2em;
  }

  .header {
    width: 90%;
  }

  .page-container {
    width: 90vw;
    margin: 0 auto;
  }

  .section-title {
    padding: 30% 0 0;
  }

  .slider-nav-container {
    padding: 8% 0;
    flex-direction: column;
  }

  .nav-container {
    padding-bottom: 30px;
  }

  .btn-secondary span {
    font-size: 18px !important;
  }

  .scroll-info {
    text-align: left;
    font-size: 15px;
  }

  .slide {
    max-height: 200px;
    border-radius: 8px;
  }

/* .slide-image {
  border-radius: 8px;
} */

  .features {
    padding: 100px 0 70px;
  }

  .features .section-title {
    padding-bottom: 20px;
  }

  .features .section-title h1 {
    text-align: left;
  }

  .content {
    max-width: fit-content;
    padding: 0 0 30px;
  }

  .new-feature-l,
  .new-feature-r {
    gap: 0px;
  }

  .new-feature-l {
    padding: 40px 0;
    flex-direction: column;
  }

  .new-feature-r {
    padding: 40px 0;
    flex-direction: column-reverse;
  }

  .new-feature-l h1 {
    font-size: 1.8em;
  }

  .new-feature-r h1 {
    font-size: 1.8em;
    text-align: left;
  }

  .new-feature-l img,
  .new-feature-r img {
    max-width: -webkit-fill-available;
    width: 100%;
    padding: 0px;
  }

  .image-wrapper {
    overflow: overlay;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .image-wrapper-m {
    overflow: overlay;
    max-height: 380px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .feature-image {
    width: 200%;
  }

  .feature-image-v {
    width: 100%;
  }

  #no-overflow {
    overflow: hidden;
  }

  #width-100 {
    width: 100%;
  }
}