body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  cursor: default;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}
a {
  text-decoration: none;
}
.cover-container {
  background-image: url("https://www.fiware.org/style/imgs/Marketplace/FIWAREMarketplace_Visual.svg");
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 80% 55%;
  background-color: #000;
  min-height: 100vh;
}
.cover-container .section-content {
  margin: 0 auto;
  width: 90%;
  max-width: 2560px;
  padding: 7% 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-container .section-content h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cover-container .section-content h2 {
  padding-bottom: 50px;
  font-size: 3em;
  line-height: 1.2em;
  color: #fff;
  font-weight: 700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:disabled {
  opacity: 0;
}
.btn {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.btn span {
  position: relative;
  display: block;
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}
.btn-2::before {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-out;
}
.btn-2 span {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.btn-2 span:hover {
  color: rgb(0, 0, 0);
  transition: 0.2s 0.1s;
}
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-right:hover::before {
  width: 100%;
}
.btn.hover-slide-up::before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
}
.btn.hover-slide-up:hover::before {
  height: 100%;
}
.intro-container {
  padding-top: 8%;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.intro-container .section-content,
.users-container .section-content,
.architecture-container .section-content {
  margin: 0 auto;
  width: 90%;
  max-width: 2560px;
}
.intro-container .section-content h1,
.users-container .section-content h1,
.architecture-container .section-content h1 {
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.intro-objectives {
  padding: 2% 0 8%;
  white-space: pre-line;
}
.objective {
  font-size: 4em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
.users-container {
  padding: 5% 0 8%;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.intro-users {
  padding: 70px 0 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.user-type {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.user {
  font-size: 3em;
  line-height: 1.3em;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
.user-icons {
  width: 100%;
}
.architecture {
  width: 100%;
  padding-bottom: 50px;
}
.architecture-container {
  padding: 5% 0 3%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.architecture-container .section-content h1 {
  padding-bottom: 50px;
  font-size: 30px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slide-container {
  padding: 8% 0 !important;
}

/*
.tns-outer {
  position: relative;
  min-height: 100vh;
}
.tns-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 99999;
  top: 50%;
}
.tns-outer [aria-controls] {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tns-nav {
  display: none;
} */
.section-title {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: left;
}
.section-title h1 {
  font-size: 20px;
  color: #212121;
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-title h2 {
  font-size: 28px;
  color: #212121;
  font-weight: 700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navigation */

.spa-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 55px;
  z-index: 2;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.spa-header--scrolled {
  background: #000;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.spa-header--move-up {
  -webkit-transform: translateY(-75px);
  transform: translateY(-75px);
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.spa-header__logo {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
}

.spa-header__link {
  margin-left: 1em;
  color: #fff;
}

.sticky-nav-tabs,
.spa-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  /* background: #eee; */
  text-align: center;
  padding: 0;
}
.sticky-nav-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  background: #000;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.sticky-nav-tabs-container--top-first {
  position: fixed;
  top: 55px;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.sticky-nav-tabs-container--top-second {
  position: fixed;
  top: 0;
}
.sticky-nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  max-width: 180px;
}
.sticky-nav-tab:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sticky-nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #fff;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .sticky-nav-tab {
    font-size: 1rem;
  }
}

/* Juxtapose */

#juxtapose,
#juxtapose-2,
#juxtapose-3 {
  margin: 0 auto;
  width: 100% !important;
  max-width: 768px;
  max-height: 430px;
  z-index: 0;
}
div.jx-slider {
  height: 100% !important;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  color: #000 !important;
}
#juxtapose div.jx-image.jx-left,
#juxtapose div.jx-image.jx-right {
  cursor: ns-resize;
}
#juxtapose-2 div.jx-image.jx-left,
#juxtapose-3 div.jx-image.jx-left {
  cursor: initial;
}
#juxtapose-2 div.jx-image.jx-right,
#juxtapose-3 div.jx-image.jx-right {
  cursor: ns-resize;
}
div.jx-image.jx-left,
div.jx-image.jx-right {
  overflow-x: hidden !important;
}
div.jx-left {
  overflow: overlay !important;
}
div.jx-right {
  overflow: overlay !important;
  top: 0;
}
div.jx-image img {
  max-width: 768px !important;
  width: auto !important;
  height: auto !important;
  position: relative !important;
}
div.jx-control {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
div.jx-controller {
  height: 50px !important;
  width: 5px !important;
  margin-left: -1px !important;
}
.label-container {
  width: 100%;
  max-width: 768px;
  margin: 20px auto 0;
  padding: 20px 0 20px;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}
.caption {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 20px;
}
a.jx-knightlab {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  .cover-container {
    background-size: 380%;
  }
  .cover-container .header {
    width: 80%;
    padding: 20% 0 0;
  }
  .cover-container .header h2 {
    font-size: 3em;
  }
  .intro-container .header h1 {
    padding-bottom: 0px;
  }
  .objective {
    font-size: 2em;
    line-height: 1.3em;
  }
  .slide-container {
    padding: 90px 0;
  }
  #juxtapose,
  #juxtapose-2,
  #juxtapose-3 {
    width: 90% !important;
    max-width: 340px !important;
    max-height: 215px !important;
  }
  .tns-outer [aria-controls] {
    color: #000;
  }
  div.jx-image img {
    max-width: 336px !important;
  }
  .header {
    width: 90%;
  }
  .tns-controls {
    width: 100%;
    top: 20px;
  }
  #slider-mw {
    min-height: 100vh;
  }
  .label-container {
    width: 90%;
  }
  .caption {
    width: 90%;
  }
}
